/* Globals */
:root {
  font-size: 20px;
  --main-bg: #242424;
  --main-fg: #ddd;
  --header-bg: #181818;
  --error-bg: #8008;
  --error-fg: #ff3b00;
  --error-outline: var(--error-fg);
  --focus-outline: #006eff;
  --ok-outline: #00ff00;
  --input-fg: #00c3ff;
  --input-fg-readonly: #999;
  --input-bg: #181818;
  --input-bg-readonly: #18181870;
  --input-placeholder: #fff2;
  --input-mark: #808d;
  --link-hover: var(--input-fg);
  --border-radius: 0.2rem;
  --selection: #297d9793;
  --gap-size: 0.5rem;
  --modal-overlay: #111a;
  --modal-bg: #222;
}

body,
#root,
.App {
  height: 100vh;
}

.App {
  display: grid;
  grid-template-rows: 0fr 0fr 1fr;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overscroll-behavior-y: none;
  background-color: var(--main-bg);
  color: var(--main-fg);
}

body,
input,
button {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide arrows in number fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  background: var(--selection);
}

::placeholder {
  color: var(--input-placeholder);
  opacity: 1;
}
